/* NAVBAR GENERAL */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  backdrop-filter: blur(8px);
  background: rgba(0, 20, 60, 0.55);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* CONTENEDOR */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.8rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo a {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: -1px;
  transition: opacity 0.3s;
}

.logo a:hover {
  opacity: 0.8;
}

/* LINKS */
.navLinks {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  transition: all 0.3s ease-in-out;
}

.navLinks li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #e5e9ff;
  font-weight: 500;
  transition: 0.3s;
  position: relative;
}

/* HOVER LINEA MODERNA */
.navLinks li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #4da6ff;
  transition: width 0.3s ease;
}

.navLinks li a:hover::after {
  width: 100%;
}

.navLinks li a:hover {
  color: #4da6ff;
}

/* RESPONSIVE - MOBILE */

/* HAMBURGER */
.hamburger {
  width: 32px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 5px;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navLinks {
    position: absolute;
    top: 68px;
    right: 0;
    background: rgba(0, 20, 60, 0.95);
    width: 65%;
    padding: 2rem 1.5rem;
    flex-direction: column;
    gap: 1.8rem;
    transform: translateX(100%);
  }

  .open {
    transform: translateX(0%);
  }

  .navLinks li a {
    font-size: 1.2rem;
  }
}
